body {
  margin: 0;
  font-family:'Courier New';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
	cursor: pointer;
	background: linear-gradient(to right,#ddee5d,#ee913a);
}
